@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Hanken Grotesk, sans-serif, arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}

header, form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100vw;
  margin-bottom: 50px;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div {
  position: relative;
  width: 200px;
}

form > div > input {
  padding: 10px 13px;
  max-width: 200px;
  font-size: 15px;
  flex: 1;
  flex-wrap: wrap;
  border: none;
  transition: border-bottom 0.3s ease-in-out;
}

form > div > input:focus {
  outline: none;
}

form > div::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(66, 130, 248);
  width: 200px;
  height: 1px;
  transition: height 0.15s ease-in-out;
}

form > div:focus-within::after {
  height: 3px;
}

form > button {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: rgb(66, 130, 248);
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
  transition: opacity 0.2s ease-in-out;
}

form > button:hover {
  opacity: 0.8;
}

form > button:active {
  opacity: 0.5;
}

main > button {
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  font-family: 600;
  background-color: rgb(139, 3, 3);
  color: white;
  border-radius: 8px;
  transition: opacity 0.2s ease-in-out;
}

main > button:hover {
  opacity: 0.8;
}

main > button:active {
  opacity: 0.5;
}